<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <a href="https://python-albania.github.io/Python-Albania.github.io/"><img src= "{{ "/images/home.png" | prepend: site.baseurl }}" style="width:5%; margin-left: 0%; margin-right: 0%;"></a>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <center><h1> Welcome To Python Albania  Library</h1></center><br>

  <center><h2> Please note that all the books uploaded here are uploaded for education purposes only. You may not try to sell the provided materials</h2></center>
  <center><h3>Please feel free to contact us at <h2>pythonalbania@gmail.com</h2></center> <br>
    <center><h2>Also note that mostly of the provided materials has been provided through the donations of the other students, so if you would to donate your books, files, other documents which you may think will be helpful for other generations you could send the informations to our email as provided before. Thank you </h2></center>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
